@model BudjettI.Models.Menolajit

@{
    ViewBag.Title = "Details";
}

<center>

    <div>
        <h2>Lisätietoja menolajeista</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nimi)
            </dd>

        </dl>
    </div>
    <p>

        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.MenolajitID }) |
        @Html.ActionLink("Palaa alkuun", "Index")

    </p>

</center>