@{
    ViewBag.Title = "Tietoa meistä";
}



<center>

    <link href="~/Content/Site.css" rel="stylesheet" />

    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title</h2>
        <p>
            Olet aloittamassa käyttämään meidän luotua helppoa ja selkeää budjettisovellusta. Tämän sovelluksen tarkoitus on edesauttaa sinua hallitsemaan ja suunnittelemaa omaa taloutta arjen keskellä.
        </p>
    </main>



</center>

@*<img src="~/Kuvat/popexels-cottonbro-studio-3943716.jpg" alt="Raha " width="700" height="300" />*@