@{
    ViewBag.Title = "Yhteystiedot";
}

<center>

    <link href="~/Content/Site.css" rel="stylesheet" />

    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            Hevosenkengänkatu 18<br />
            06400 Porvoo<br />
                        <abbr title="Puhelinnumero"><img src="~/Icons/telephone-outbound.svg" width="20" height="20" />
                        </abbr>
            0400123123
        </address>

        <address>
            <a href="mailto:neuvontajaohjaus@budjetti.com"><img src="~/Icons/envelope-check.svg" alt="Sähköposti" width="32" height="32" title="Sähköposti">   neuvontajaohjaus@budjetti.com</a><br />
            

        </address>
    </main>

</center>